<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

  <appender name="File" class="org.apache.log4j.FileAppender">
    <param name="File" value="target/redis-integration.log" />
    <param name="Append" value="false" />
    <param name="Threshold" value="debug" />
    <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d %-5p %m%n" />
    </layout>
  </appender>

  <root>
      <level value="debug" />
      <appender-ref ref="File" />
  </root>

</log4j:configuration>
